.main {
    width: 100%;
    /* background-image: url(./assets/backgr.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  
.filters {
    width: 100%;
    padding: 20px 40px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 15px 20px -5px rgba(71, 42, 238, 0.548);
    border-radius: 5px;
    margin-top: 120px;
  }
  
  .choice-btns {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  
  .clear-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.12px;
    border: none;
    background: transparent;
    color: #5ca5a5;
  }
  .animes {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .anime{
    /* background-image: url("assets/naruto_background.jpg"); */
    width: 100%;
    padding: 32px 40px;
    /* background: #ffffff; */
    box-shadow: 0px 15px 20px -5px rgba(71, 42, 238, 0.548);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  row-gap: 5px;
}


.new-anime {
  box-shadow: 10px 15px 20px -5px rgba(71, 42, 238, 0.249);
  border-radius: 12px;
  padding: 7px 8px 3px 8px;
  color: #9966cc;
  margin-left: 15px;
  font-family: 'Ysabeau SC', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.107692px;
  text-transform: uppercase;
}

.ongoing {
  box-shadow: 10px 15px 20px -5px rgba(71, 42, 238, 0.249);
  border-radius: 12px;
  padding: 7px 8px 3px 8px;
  color: #c8a2c8;
  margin-left: 8px;
  font-family: 'Ysabeau SC', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.107692px;
  text-transform: uppercase;
  
}

.info-footer {
  display: flex;
  /* column-gap: 18.5px; */
  margin-top: 10px;
}

.info{
  font-family: 'Ysabeau SC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.138462px;
  color: #b484c6bd;
}

